fastapi
uvicorn
minio
python-dotenv
pydantic
openai
pinecone-client
PyPDF2
pytesseract
Pillow
opencv-python
tifffile
langchain-openai
langchain
langchain-community
langchain-pinecone
tiktoken
tenacity